#site-wrap {
   margin-top: 80px;
}

#menu {
   height: 50px;
}

/*#mainMenu {
   margin-left: 300px;
}*/

#searchBox {
   width: 350px;
}

/* --------------------------------------
   Media Queries
   -------------------------------------- */

/* Portrait & landscape phone */
@media (max-width: 480px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {

}

/* Large desktop */
@media (min-width: 1200px) {

}
